#root {
  position: relative;
  background: black;
}

.main-nav {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  overflow: visible;

  .main-header {
    display: flex;
    align-items: center;

    h1 {
      flex: 1;
      margin: 0;
      padding: 0.5em 0.75em;
      text-shadow: 0 0 5px black;
      color: white;
      z-index: 1;
    }
  }
}

.preview-video-player-modal {
  position: relative;

  .preview-video-player-close {
    padding: 0.8em;
    border-radius: 10px;
    border: 1px solid silver;
    display: inline-block;
    background: black;
    color: white;
    font-weight: bold;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 2;
    line-height: 1em;
  }

  .preview-video-player {
    width: 100%;
  }
}
