ul.downloads {
  background: black;
  border-radius: 10px;
  border: 1px solid silver;
  list-style: none;
  margin: 0;
  padding: 0.8em 1em;
  position: absolute;
  right: 1em;
  top: 1em;
  z-index: 1;

  a {
    &, :hover, :visited, :active {
      color: white;
    }

    display: flex;
    align-items: center;
  }



  button {
    display: flex;
    align-items: center;
    padding: 0.4em 0.7em 0.4em 0.5em;
    border: 0 none;
    border-radius: 5px;
  }

  a, button {
    svg {
      margin-inline-end: 0.5em;
    }
  }

  li {
    form {
      display: flex;
      align-items: center;

      button {
        margin-left: 0.5em;
      }
    }
  }
}
