@import 'shared';

.notifications-container {
  position: absolute;
  right: 1em;
  top: 1em;
  margin: 0;
  list-style: none;
  padding: 0;

  .notification {
    @include square-shadow(true);

    padding: 1em;
    margin-block-start: 0.5em;
  }

  .notification-info {
    background-color: lightblue;
  }

  .notification-success {
    background-color: lightgreen;
  }

  .notification-warning,
  .notification-warn {
    background-color: lightyellow;
  }

  .notification-danger,
  .notification-error {
    background-color: lightsalmon;
  }
}
