@import 'shared';

.ranges-list-editor {
  box-sizing: border-box;

  .ranges-list-editor-toolbar {
    margin: 1em;
    display: flex;
    justify-content: flex-end;
  }

  .ranges-list-editor-range-item {
    display: flex;
    margin: 0 0 10px;
  }

  .ranges-list-editor-range-item-slider-container {
    margin: 0 2em;
    flex: 1;
  }

  .ranges-list-editor-range-item-actions-container {
    display: flex;
    align-items: center;
  }

  .ranges-list-editor-ranges-container {
    list-style: none;
    padding: 0;
  }

  .ranges-list-editor-range-item-track {
    height: 36px;
    display: flex;
    width: 100%;
  }

  .ranges-list-editor-range-item-track-range {
    @include square-shadow;

    height: 5px;
    width: 100%;
    border-radius: 4px;
    align-self: center;
  }

  .ranges-list-editor-range-item-thumb {
    @include square-shadow;

    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
