.recording-player {
  display: flex;

  .recording-not-found,
  .recording-loading {
    position: relative;
  }

  .recording-not-found-text {
    margin-left: 4em;
  }

  .question-icon,
  .loading-icon {
    filter: drop-shadow(0 0 5px black);
    color: white;
    width: 3em;
    height: 3em;

    position: absolute;
    top: 1em;
    left: 1em;
  }

  .loading-icon {
    animation: rotation 2s infinite linear;
  }

  .recording-player-video {
    display: block;
    margin: 0 1em;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
