@keyframes glowing {
  0% {
    background-color: red;
    box-shadow: 0 0 3px red;
  }
  50% {
    background-color: red;
    box-shadow: 0 0 10px red;
  }
  100% {
    background-color: red;
    box-shadow: 0 0 3px red;
  }
}

.recording-actions {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  overflow: visible;
  align-items: stretch;
  background: black;
  color: white;
  padding: 1em;
  border-radius: 10px;

  > * {
    margin-left: 1em;
  }

  .toolbar {
    display: flex;
  }

  button {
    padding: 0.8em 1em 1em;
    border-radius: 10px;
    border: 1px solid silver;
    display: inline-block;
    background: black;
    color: white;
    font-weight: bold;

    svg {
      margin-inline-end: 1em;
      vertical-align: middle;
    }
  }

  button.recording {
    margin-left: 0;
    border: 0 none;
    background-color: red;
    color: white;
    animation: glowing 1300ms infinite;

    &:active {
      background: maroon;
      animation: none;
    }
  }

  .recording-options-container {
    display: flex;
    align-items: stretch;

    .recording-options-menu {
      display: none;
    }

    &.expanded .recording-options-menu {
      display: block;
    }
  }

  ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .recording-options-menu {
    position: absolute;
    bottom: 100%;

    label > select {
      margin-left: 1em;
    }

    li {
      margin-bottom: 1em;

      label {
        display: flex;
        align-items: center;
      }

      select {
        display: block;
      }
    }
  }
}
