.recording-actions-toolbar {
  display: flex;
  flex-direction: row;

  justify-content: flex-end;

  align-items: center;

  .recording-item-name {
    flex: 1;
    display: block;
    box-sizing: border-box;
    border: 0 none;
    font-size: 1.5rem;
    margin: 0 1em 0 0;
    padding: 0;

    &:not(input) {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}
