.recording-actions-toolbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;

  .recording-item-name {
    flex: 1;
    display: block;
    box-sizing: border-box;
    font-size: 1.5rem;
    align-self: stretch;
    margin-right: 1em;

    &:not(input) {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      align-self: flex-end;
    }
  }
}
