.recording-player {
  display: flex;

  .recording-not-found,
  .recording-loading {
    // display: flex;
    // flex-wrap: wrap;
    // align-items: center;

    position: relative;

    background-color: rgba(255, 255, 255, 0.5);
    padding: 1em;
    border-radius: 1em;
  }

  .recording-not-found-text {
    margin-left: 4em;
  }

  // .recording-not-found {
  //   .home-link {
  //     display: block;
  //     flex-basis: 100%;
  //     text-align: center;
  //   }
  // }

  .question-icon,
  .loading-icon {
    filter: drop-shadow(0 0 5px black);
    color: white;
    width: 3em;
    height: 3em;

    position: absolute;
    top: 1em;
    left: 1em;
  }

  .loading-icon {
    animation: rotation 2s infinite linear;
  }

  .recording-player-video {
    display: block;
    margin: 0 1em;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
