.recording-player {
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 12rem);

  .recording-actions-toolbar {
    margin-bottom: 1em;
  }

  .recording-not-found,
  .recording-loading {
    position: relative;
  }

  .recording-not-found-text {
    margin-left: 4em;
  }

  .question-icon,
  .loading-icon {
    filter: drop-shadow(0 0 5px black);
    color: white;
    width: 3em;
    height: 3em;

    position: absolute;
    top: 1em;
    left: 1em;
  }

  .loading-icon {
    animation: rotation 2s infinite linear;
  }

  .recording-player-video {
    margin: 1em 0 0;
    max-height: 100%;
    max-width: 100%;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
