ul.recordings-list {
  background: black;
  border-radius: 10px;
  border: 1px solid silver;
  list-style: none;
  margin: 0;
  padding: 0.8em 1em;
  position: absolute;
  right: 1em;
  top: 1em;
  z-index: 1;

  &.indicating {
    background: blue;
  }

  a {
    &,
    :hover,
    :visited,
    :active {
      color: white;
    }

    display: flex;
    align-items: center;
  }

  button {
    display: flex;
    align-items: center;
    padding: 0.4em 0.7em 0.4em 0.5em;
    border: 0 none;
    border-radius: 5px;
    background: white;
  }

  a,
  button {
    svg {
      margin-inline-end: 0.5em;
    }
  }

  li {
    margin-bottom: 0.5em;

    :last-of-type {
      margin-bottom: 0;
    }

    form {
      display: flex;
      align-items: center;

      button {
        margin-left: 0.5em;
      }
    }
  }
}
/*
      @keyframes glowing {
        0% {
          background-color: #2ba805;
          box-shadow: 0 0 5px #2ba805;
        }
        50% {
          background-color: #49e819;
          box-shadow: 0 0 20px #49e819;
        }
        100% {
          background-color: #2ba805;
          box-shadow: 0 0 5px #2ba805;
        }
      }
      .button {
        animation: glowing 1300ms infinite;
      } */
