.recorder {
  position: relative;
  background: black;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  overflow: hidden;

  .recording-canvas {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }
}
