@import 'shared';

@keyframes glowing {
  0% {
    background-color: red;
    box-shadow: 0 0 3px red;
  }
  50% {
    background-color: red;
    box-shadow: 0 0 10px red;
  }
  100% {
    background-color: red;
    box-shadow: 0 0 3px red;
  }
}

@keyframes recording-button-animation {
  0% {
    background-color: red;
  }
  50% {
    background-color: maroon;
  }
  100% {
    background-color: red;
  }
}

.recording-actions-wrapper {
  position: absolute;
  bottom: -3em;
  left: 0;
  display: flex;
  right: 0;
  justify-content: center;
  transition-duration: 300ms;

  &:hover {
    bottom: 10px;
  }
}

.recording-actions {
  @include square-shadow;

  display: flex;
  align-items: stretch;
  margin-right: 1em;
  padding: 1em;

  .btn.recording {
    color: white;
    background-color: red;
    animation: recording-button-animation 1500ms infinite;
  }

  .recording-options-container {
    display: flex;
    align-items: stretch;
    margin-left: 10px;
    margin-right: 10px;

    .recording-options-menu {
      display: none;
    }

    &.expanded .recording-options-menu {
      display: block;
    }
  }

  ul,
  li {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .recording-options-menu {
    @include square-shadow(true);

    bottom: 100%;
    position: absolute;
    padding: 1em 1em 0;

    label {
      & > select {
        margin-inline-start: 1em;
      }

      & > svg,
      & > input[type='checkbox'],
      & > input[type='radio'] {
        margin-inline-end: 0.5em;
      }
    }

    li {
      margin-bottom: 1em;

      label {
        display: flex;
        align-items: center;
      }

      select {
        display: block;
      }
    }
  }
}
