@import 'shared';

.storage-estimate-bar {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 0.5em;

  @include square-shadow;

  progress {
    -webkit-appearance: none;
    width: auto;
    border: 0 none;
    background: transparent;

    &::-webkit-progress-bar {
      background-color: transparent;
    }

    &::-webkit-progress-value {
      @include tiny-checkers;
    }

    &::-moz-progress-bar {
      @include tiny-checkers;
    }
  }
}
